[submodule "geo-finder-api"]
	path = geo-finder-api
	url = git@github.com:luisforni/geo-finder-api.git

[submodule "geo-finder-ui"]
	path = geo-finder-ui
	url = git@github.com:luisforni/geo-finder-ui.git

[submodule "whatsapp-gateway"]
	path = whatsapp-gateway
	url = git@github.com:luisforni/whatsapp-gateway.git

[submodule "campaign-api"]
	path = campaign-api
	url = git@github.com:luisforni/campaign-api.git

[submodule "ai-service"]
	path = ai-service
	url = git@github.com:luisforni/ai-service.git
