[submodule "geo-finder-api"]
	path = geo-finder-api
	url = https://github.com/luisforni/geo-finder-api.git

[submodule "geo-finder-ui"]
	path = geo-finder-ui
	url = https://github.com/luisforni/geo-finder-ui.git

[submodule "whatsapp-gateway"]
	path = whatsapp-gateway
	url = https://github.com/luisforni/whatsapp-gateway.git

[submodule "campaign-api"]
	path = campaign-api
	url = https://github.com/luisforni/campaign-api.git

[submodule "ai-service"]
	path = ai-service
	url = https://github.com/luisforni/ai-service.git
[submodule "source-control-sample"]
	path = source-control-sample
	url = https://github.com/luisforni/source-control-sample.git
